@import "tailwindcss";

@theme {
  --color-primary: #2874F0;
  --color-secondary: #172337;
  --color-accent: #FFE500;
  --color-success: #388E3C;
  --color-error: #D32F2F;
  --color-border: #E0E0E0;
  --color-text-primary: #212121;
  --color-text-muted: #878787;
}
